
.cbox
{	
	width: 100%;
	clear: both; 
	text-align: center;
}


.button 
{
    background-color: #C5C5C5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


